.contact_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_page .location {
  width: 100%;
  height: auto;
}

.contact_page .location iframe {
  width: 100%;
  height: 620px;
}
.contact_page .line {
  width: 1320px;
  height: auto;
}

.contact_page .line div {
  width: 100%;
  height: 1px;
  margin: 60px 0px;

  background: rgb(234, 234, 234);
}

/* CONTACTS */

.contact_page .contacts_frame {
  width: 100%;
  height: auto;
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts_frame .container {
  flex-direction: row;
}

.contacts_frame .container .contacting {
  width: 545px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.contacts_frame .container .contacting strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.contacts_frame .container .contacting p {
  margin-top: 60px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.contacts_frame .footer_contact_box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.contacts_frame .footer_contact_box .footer_contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.contacts_frame .footer_contact_main img {
  width: 35px;
  height: 30px;
}

.contacts_frame .footer_contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.contacts_frame .footer_contact_main div strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.contacts_frame .footer_contact_main span {
  margin-top: 10px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.contacts_frame .footer_spec_title {
  display: block;
  margin-bottom: 30px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.contacts_frame .footer_media_main {
  display: flex;
  flex-direction: column;
}

.contacts_frame .footer_media_main .media_box {
  display: flex;
  flex-direction: row;
}

.contacts_frame .media_box i {
  margin-right: 25px;
}

.contacts_frame .container .message_box {
  width: 648px;
  height: auto;
  margin-left: 126px;

  display: flex;
  flex-direction: column;
}

.contacts_frame .container .message_box input:active {
  box-sizing: border-box;
  border: 1px solid rgb(4, 30, 66);
  border-radius: 6px;

  box-shadow: 0px 10px 20px 0px rgba(4, 30, 66, 0.05);
  background: rgb(255, 255, 255);
}

.contacts_frame .container .message_box .main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts_frame .container .message_box .main .name {
  display: flex;
  flex-direction: column;
}

.contacts_frame .container .message_box span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.contacts_frame .container .message_box .name input {
  width: 310px;
  height: 55px;
  padding: 15px;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);

  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.message_box .subject {
  width: 100%;
  height: auto;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
}

.message_box .subject input {
  width: 100%;
  height: 55px;
  padding: 15px;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);

  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.message_box .message {
  width: 100%;
  height: auto;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
}

.message_box .message textarea {
  width: 100%;
  height: 261px;
  padding: 20px;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.message_box button {
  width: 168px;
  height: 52px;
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;

  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgb(245, 195, 75);
  cursor: pointer;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

/* BRANCHES */

.contact_page .branches_frame {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.branches_frame .container {
  flex-direction: row;
}

.contact_page .branches_frame .header {
  width: 440px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.contact_page .branches_frame .header strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.contact_page .branches_frame .header p {
  margin-top: 20px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.branches_frame .container .branch_boxes {
  width: 701px;
  height: auto;
  margin-left: 178px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.branches_frame .container .branch_boxes .branch_box {
  display: flex;
  flex-direction: column;
}

.branches_frame .container .branch_boxes .branch_box strong {
  margin-bottom: 10px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 430;
  line-height: 26px;
  text-align: left;
}

.branches_frame .container .branch_boxes .branch_box span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.branches_frame .container .branch_boxes .branch_box p {
  margin-top: 10px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 420;
  line-height: 22px;
  text-align: left;
}

.branches_frame .container .branch_boxes .branch_box .little_line {
  position: static;
  width: 32px;
  height: 2px;

  order: 1;
  flex-grow: 1;
  margin: 3px 0px;
  background: rgb(4, 30, 66);
}

/* FAQ */

.contact_page .faq_frame {
  width: 100%;
  height: auto;
  margin-bottom: 343px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.faq_frame .container {
  flex-direction: column;
  align-items: center;
}

.faq_frame .container .header {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.faq_frame .container .faq_menu_boxes {
  width: 1083px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.faq_frame .container .faq_menu_box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.faq_frame .container .faq_menu_box .main_line {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.faq_frame .container .faq_menu_box .main_line strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 430;
  line-height: 40px;
  text-align: left;
}

.faq_frame .container .faq_menu_box .main_line p {
  margin-left: 17px;
  width: 1007px;
  height: auto;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 20px;
  font-weight: 420;
  line-height: 29px;
  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.faq_frame .faq_menu_box .content {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.faq_frame .faq_menu_boxes .line {
  width: 100%;
  height: 1px;
  margin: 35px 0px;

  background: rgb(234, 234, 234);
}
