.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.white_svg {
  filter: brightness(0) invert(1);
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top div {
  display: flex;
  flex-direction: row;
}

.container .category_top span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  margin-left: 30px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}
/* PAGINATION */

.container .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main .pagination_dot {
  margin: 0px 20px;

  display: flex;
  flex-direction: row;
}

.pagination_main img {
  cursor: pointer;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #112137;
}

.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgb(4, 30, 66);
}

.container .next_prev_box {
  width: 25px;
}

.container .next_prev_box img {
  position: relative;
  top: 50%;
  cursor: pointer;
}

/* PRODUCT CARD */

.container .product_content_box {
  width: 100%;
  height: auto;
  padding: 5px 22px;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.container .product_content_box .product_desc {
  height: 56px;
  width: 100%;
  margin-top: 7px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.container .product_content_box .review_box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img {
  margin-right: 5px;
}

.container .review_box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .product_content_box .price_box {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.container .price_box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

/* HEADER */

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  width: 875px;
  height: 508px;
  padding: 15px;
  border-radius: 5px;

  background-color: #0053f6;
  background-image: url("/public/images/icons/header_bg.svg");
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: Jost;
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 87pxpx;

  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;

  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;

  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  border-radius: 6px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  margin-left: 20px;
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: rgb(242, 242, 242);
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  color: rgb(0, 83, 246);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header_frame .box_left p {
  margin: 10px 0px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .box_left a {
  position: static;
  width: 70px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3;
  padding: 0px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
/* SERVICE */

.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  font-style: normal;
}

.service_frame .service_content p {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* SHOP CATEGORY */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/* SELLING PRODUCT */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
  border-radius: 6px;

  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(0, 83, 246);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  background-color: #e5edff;
}

/* SPEC PRODUCT */

.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  border-radius: 6px;
  background: rgb(243, 245, 246);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.big_product_box .big_product_content {
  position: relative;
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big_product_content span {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.big_product_content p {
  margin: 7px 0px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}

.big_product_content a {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec_product_wrapper .small_product_wrapper {
  position: relative;
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;
  margin-bottom: 28px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgb(243, 245, 246);
}

.small_product_box:nth-child(even) {
  margin-left: 30px;
}

.small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.small_product_content strong {
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.small_product_content span {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.small_product_box img {
  position: absolute;

  bottom: 15px;
  right: 30px;
}

/* TV */

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_frame .container {
  flex-direction: column;
}

.container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_wrapper .tv_product_boxes {
  position: relative;
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}

.tv_product_box .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../images/icons/event_bg.png");
}

.event_frame .container {
  flex-direction: row;
  justify-content: center;
}

.container .event_content_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_content_box p {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
}

.event_content_box .timer_wrapper {
  margin: 30px 0px;

  display: flex;
  flex-direction: row;

  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.timer_wrapper .timer_box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.timer_box strong {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.timer_box span {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.event_content_box a {
  width: 140px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;

  background: #ffffff;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .event_product_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event_product_wrapper .event_product_boxses {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_product_boxses .event_product_box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}

.event_product_box .event_product_img {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}
