.shop_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page .header_frame {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page .header_frame .container {
  flex-direction: column;
}

.shop_page .container .header_top {
  width: 100%;
  height: 22px;
  margin: 14px 0px;
  padding-right: 50px;
  padding-bottom: 30px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_top a {
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 30px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.header_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}

.container .header_main {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  background-image: url("../images/icons/shop_header_bg.png");

  display: flex;
  flex-direction: column;
}

.header_main .header_content {
  position: relative;
  width: 366px;
  height: auto;
  margin-left: 80px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header_content strong {
  margin-bottom: 18px;
  margin-top: 40px;
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.header_content p {
  margin-bottom: 18px;

  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.header_content a {
  position: relative;
  width: 145px;
  height: 52px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 15px 35px 15px 35px;

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;
  background-color: rgb(245, 195, 75);
  color: rgb(4, 30, 66);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

/* CATEGORY TOP */

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top div {
  display: flex;
  flex-direction: row;
}

.container .category_top span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  margin-left: 30px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}

/* SHOP CATEGORY */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/* PAGINATION */

.container .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main .pagination_dot {
  margin: 0px 20px;

  display: flex;
  flex-direction: row;
}

.pagination_main img {
  cursor: pointer;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #112137;
}

/* BRAND */

.shop_page .brand_frame {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand_frame .container {
  margin-top: 20px;
  flex-direction: column;
}

.container .category_name {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.container .brand_boxes {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.brand_boxes .brand_box {
  width: 108px;
  height: 52px;
  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.brand_boxes .brand_box.active {
  color: #fff;
  background: rgb(68, 50, 151);
}

.brand_boxes .brand_box:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(68, 50, 151);
}

/* SELLING PRODUCT */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1320px;
  height: 392px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 220px;
  height: 100%;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 234, 234);
}

.selling_product_frame .product_box .product_img_box {
  width: 207px;
  height: 220px;
}

.container .product_content_box {
  width: 100%;
  height: auto;
  padding: 5px 22px;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}

.container .product_content_box .product_desc {
  height: 56px;
  width: 100%;
  margin-top: 7px;
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container .product_content_box .review_box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img {
  margin-right: 5px;
}

.container .review_box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.container .product_content_box .price_box {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.container .price_box span {
  margin-left: 10px;
  color: rgb(98, 105, 116);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration-line: line-through;
}

/* LAPTOP */

.shop_page .laptop_frame {
  position: relative;
  margin-top: 65px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.laptop_frame .container {
  flex-direction: column;
}

.container .category_info {
  width: 100%;
  height: auto;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #eaeaea;
}

.category_info span {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.category_info p {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.container .product_filter {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .filter_box {
  width: 65px;
  height: auto;
  margin-right: 10px;
  padding: 7px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #f3f5f6;
  cursor: pointer;
  border-radius: 60px;
}

.filter_box select {
  background: none;
  border: none;
  outline: none;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;

  background: rgb(243, 245, 246);
}

.filter_box select option {
  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.container .laptop_wrapper {
  margin-top: 21px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.container .next_prev_box {
  width: 25px;
}

.container .next_prev_box img {
  position: relative;
  top: 50%;
  cursor: pointer;
}

.laptop_wrapper .laptop_product_boxes {
  position: relative;
  width: 1300px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.laptop_product_boxes .laptop_product_box {
  width: 253px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  background: rgb(255, 255, 255);
}

.laptop_product_box .product_img {
  width: 100%;
  height: 280px;
  padding: 25px 18px;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .pagination_circle {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination_circle .circle {
  position: relative;
  width: 460px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle span {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 50%;
  background: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle span img {
  width: 15px;
  height: 30px;
}

.circle a {
  width: 40px;
  height: 40px;

  box-sizing: border-box;

  border-radius: 50%;
  background: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: rgb(4, 30, 66);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.circle a.active {
  background-color: rgb(255, 223, 64);
}

.circle a:hover {
  background-color: rgb(197, 197, 197);
}
